In [4]:
import requests
import pandas as pd

def check_urls():
    # Lists to store the results
    ids = []
    quarters = []
    fys = []
    statuses = []

    # Loop through all combinations
    for id in range(1, 10):
        for quarter in ["Jun", "Mar"]:
            for fy in ["24", "23"]:
                url = f"https://stockdiscovery.s3.amazonaws.com/insight/india/{id}/Conference%20Call/CC-{quarter}{fy}.pdf"
                try:
                    print("getting url")
                    print(url)
                    response = requests.get(url)
                    if response.status_code == 200:
                        status = True
                    else:
                        status = False
                except requests.RequestException:
                    status = False

                # Append results to lists
                ids.append(id)
                quarters.append(quarter)
                fys.append(fy)
                statuses.append(status)

    # Build DataFrame from lists
    df = pd.DataFrame({
        'id': ids,
        'quarter': quarters,
        'fy': fys,
        'status': statuses
    })

    return df

# Example usage
df = check_urls()
print(df)

getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/1/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/1/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/1/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/1/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/2/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/2/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/2/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/2/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/3/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/3/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/3/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/3/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/4/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/4/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/4/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/4/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/5/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/5/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/5/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/5/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/6/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/6/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/6/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/6/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/7/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/7/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/7/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/7/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/8/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/8/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/8/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/8/Conference%20Call/CC-Mar23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/9/Conference%20Call/CC-Jun24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/9/Conference%20Call/CC-Jun23.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/9/Conference%20Call/CC-Mar24.pdf
getting url
https://stockdiscovery.s3.amazonaws.com/insight/india/9/Conference%20Call/CC-Mar23.pdf
    id quarter  fy  status
0    1     Jun  24    True
1    1     Jun  23    True
2    1     Mar  24    True
3    1     Mar  23    True
4    2     Jun  24    True
5    2     Jun  23    True
6    2     Mar  24    True
7    2     Mar  23    True
8    3     Jun  24   False
9    3     Jun  23   False
10   3     Mar  24   False
11   3     Mar  23   False
12   4     Jun  24    True
13   4     Jun  23   False
14   4     Mar  24   False
15   4     Mar  23   False
16   5     Jun  24   False
17   5     Jun  23   False
18   5     Mar  24   False
19   5     Mar  23   False
20   6     Jun  24   False
21   6     Jun  23   False
22   6     Mar  24   False
23   6     Mar  23    True
24   7     Jun  24   False
25   7     Jun  23   False
26   7     Mar  24   False
27   7     Mar  23   False
28   8     Jun  24   False
29   8     Jun  23   False
30   8     Mar  24   False
31   8     Mar  23   False
32   9     Jun  24   False
33   9     Jun  23   False
34   9     Mar  24   False
35   9     Mar  23   False

In [5]:
df

    id quarter  fy  status
0    1     Jun  24    True
1    1     Jun  23    True
2    1     Mar  24    True
3    1     Mar  23    True
4    2     Jun  24    True
5    2     Jun  23    True
6    2     Mar  24    True
7    2     Mar  23    True
8    3     Jun  24   False
9    3     Jun  23   False
10   3     Mar  24   False
11   3     Mar  23   False
12   4     Jun  24    True
13   4     Jun  23   False
14   4     Mar  24   False
15   4     Mar  23   False
16   5     Jun  24   False
17   5     Jun  23   False
18   5     Mar  24   False
19   5     Mar  23   False
20   6     Jun  24   False
21   6     Jun  23   False
22   6     Mar  24   False
23   6     Mar  23    True
24   7     Jun  24   False
25   7     Jun  23   False
26   7     Mar  24   False
27   7     Mar  23   False
28   8     Jun  24   False
29   8     Jun  23   False
30   8     Mar  24   False
31   8     Mar  23   False
32   9     Jun  24   False
33   9     Jun  23   False
34   9     Mar  24   False
35   9     Mar  23   False

In [34]:
df.dtypes

id          int64
quarter    object
fy         object
status       bool
dtype: object

In [35]:
tij_pdf_true = df[df['status']==True]
tij_pdf_true

    id quarter  fy  status
0    1     Jun  24    True
1    1     Jun  23    True
2    1     Mar  24    True
3    1     Mar  23    True
4    2     Jun  24    True
5    2     Jun  23    True
6    2     Mar  24    True
7    2     Mar  23    True
12   4     Jun  24    True
23   6     Mar  23    True

In [26]:
tij_pdf_repo = df.to_json()

In [33]:
import json


def check_if_id_exist(id):
    d = json.loads(tij_pdf_repo)
    unq_ids = list(set(d['id'].values()))
    if id in unq_ids:
        return True
    else:
        return False

In [27]:

import json
d = json.loads(tij_pdf_repo)

In [32]:
unq_ids = list(set(d['id'].values()))
unq_ids

[1, 2, 3, 4, 5, 6, 7, 8, 9]